# =========================
# VSCode
# =========================
.vscode/

# =========================
# Python ML Service
# =========================
ml-service/venv/
ml-service/__pycache__/
ml-service/.pytest_cache/
ml-service/*.pyc

# =========================
# Environment Files
# =========================
.env
**/.env

# =========================
# Node Modules
# =========================
node_modules/

# =========================
# Logs
# =========================
*.log